@inherits LayoutComponentBase
<!-- Top Navigation -->
<NavMenu />

<!-- Page Content -->
<div class="container mt-4">
    @Body
</div>

<!-- Error UI -->
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
