@using InstituteManagement.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Json
@inject ApiAuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject UiLocalizer L

<AuthorizeView>
    <Authorized>
        <button type="button" class="nav-link btn btn-link" @onclick="Logout">@L["Logout"]</button>
    </Authorized>
    <NotAuthorized>
        <NavLink href="/signin">@L["Login"]</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        var res = await JS.InvokeAsync<JsonElement>("appAuth.post", "/api/auth/logout");
        var ok = res.GetProperty("ok").GetBoolean();
        if (ok)
        {
            AuthStateProvider.NotifyUserLogout();
            Nav.NavigateTo("/", forceLoad: true);
        }
    }
}
